window{
    background-color: rgba(14, 14, 14, 0.7);
    border-radius: 15px;
}
.sidebar{
    border-radius: 15px;
    background-color: rgba(90, 36, 30, 0.90);
}
.sidebar row label {
    color: #ccd7e8;
    font-size: 14px;
    font-weight: normal;
}
entry {
    background-color: rgba(70, 46, 55, 0.70);
    color: #ccd7e8;
    border: 1px solid rgba(208, 136, 192, 0.3);
    border-radius: 15px;
    padding: 6px;
    caret-color: #ccd7e8;
}
entry:focus {
    box-shadow: 0 0 0 2px rgba(192, 132, 208, 0.2);
    background-color: rgba(132, 66, 148, 0.5);
    border: 1px solid rgba(132, 66, 148, 0.5);
}

.power-button {
    background-color: rgba(90, 46, 48, 0.95);
}
.power-button:hover {
    background-color: rgba(148, 66, 66, 0.7);
    transition: background-color 0.2s ease;
}
